<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930700400354-m51e18dvug3dah2img6244p5oap75oab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930700400354-m51e18dvug3dah2img6244p5oap75oab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>930700400354-55j9mujtmu23v9hedvsmh6hu3gq2jnea.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeS4duYY66NaESgbTcdhJGd3AcaC8Gzs4</string>
	<key>GCM_SENDER_ID</key>
	<string>930700400354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.protee</string>
	<key>PROJECT_ID</key>
	<string>protee-140c5</string>
	<key>STORAGE_BUCKET</key>
	<string>protee-140c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930700400354:ios:6abfbdb7e504fa359630bb</string>
</dict>
</plist>