<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>GIDClientID</key>
	<string>836852153204-od4ppbll0kcd72atsllpt9dn1e4ttqri.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb542676418049537</string>
				<string>com.googleusercontent.apps.836852153204-od4ppbll0kcd72atsllpt9dn1e4ttqri</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>542676418049537</string>
	<key>FacebookClientToken</key>
	<string>EAAHtj7MgNgEBADI5FlZB5mle1m1eG2jDsx77AZBgrF6PfNxb3eAjSka6RLUt6Ec8qnZCKpPlue2Qfn7zPV2BxrMZA8ag1nQiXoZAeUXZAYpdZAjnNB1VQUFrSyCpQpLzxo3ENy4kyZAZAjb2Bud8EBN90BNkc65VxaxUy9Em1yodqMizmZALRYz7J5LV1RNVZAZBKBHpqJjTg3QDsteGJb0lRztTU6uUY6pIgySLBiyKJxU7NbMplcaZBDUmBGuiYqGz5Gx0ZD</string>
	<key>FacebookDisplayName</key>
	<string>Protee Dev</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(APP_DISPLAY_NAME) would like to use location service</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(APP_DISPLAY_NAME) would like to use location service</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(APP_DISPLAY_NAME) would like to use location service</string>
	<key>NSCameraUsageDescription</key>
	<string>$(APP_DISPLAY_NAME) would like to use camera for take a picture or scan code</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(APP_DISPLAY_NAME) would like to use the photo gallery to select photos for profile photo updates or business licenses</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(APP_DISPLAY_NAME) would like to use the photo gallery to select photos for profile photo</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.security.network.server</key>
	<true/>
</dict>
</plist>
